@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary-light: #9c84ff;
  --primary: #7351ff;
  --primary-dark: #4a1eff;
  --bg-light: #eeeaff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem == 10px */
}

html,
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* --- GENERAL UI --- */
ul {
  list-style: none;
}

.btn {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  border-radius: 5rem;
  cursor: pointer;
  padding: 0.6rem 2rem;
  transition: all 0.1s;
}

.btn:hover {
  background: var(--primary);
  color: #fff;
}
